@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-blue-main: #2d318d;
  --color-blue-100: #355e87;
  --color-blue-200: #2f398d;
  --color-blue-300: #193f5a;
  --color-green-main:#82bc1a;
  --color-green-main-2:#224809;
  --color-pinkish-purple: ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: whitesmoke; */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Swiper custom styles */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-blue-main) !important;
}